#searchbox{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap:15px;
    flex-wrap: wrap;
}

#inputvisitor{
   
}

#visitordialog{

}
.visitor-card div{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 200px;
    background-color: aqua;
}


#cards{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.image-login{
    width: 200px;
    height: 200px;

}
.logged-in{
    border:2px black solid
}